<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <ECA_Checkout>
            <version>0.1.0</version>
        </ECA_Checkout>
    </modules>
    <global>
        <blocks>
            <eca_checkout>
                <class>ECA_Checkout_Block</class>
            </eca_checkout>
            <checkout>
                <rewrite>
                    <cart_minicart>ECA_Checkout_Block_Cart_Minicart</cart_minicart>
                </rewrite>
            </checkout>
        </blocks>
    </global>
    <!--<frontend>-->
    <!--<layout>-->
    <!--<updates>-->
    <!--<eca_checkout>-->
    <!--<file>eca_checkout.xml</file>-->
    <!--</eca_checkout>-->
    <!--</updates>-->
    <!--</layout>-->
    <!--</frontend>-->
    <default>
        <checkout>
            <options>
                <guest_checkout>0</guest_checkout>
            </options>
        </checkout>
    </default>
</config>