<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <ECA_Catalog>
            <version>0.1.0</version>
        </ECA_Catalog>
    </modules>
    <global>
        <blocks>
            <eca_catalog>
                <class>ECA_Catalog_Block</class>
            </eca_catalog>
            <catalog>
                <rewrite>
                    <seo_sitemap_product>ECA_Catalog_Block_Seo_Sitemap_Product</seo_sitemap_product>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <eca_catalog>
                <class>ECA_Catalog_Helper</class>
            </eca_catalog>
            <catalog>
                <rewrite>
                    <product>ECA_Catalog_Helper_Product</product>
                </rewrite>
            </catalog>
        </helpers>
        <models>
            <eca_catalog>
                <class>ECA_Catalog_Model</class>
            </eca_catalog>
            <!--<catalog>-->
                <!--<rewrite>-->
                    <!--<product_status>ECA_Catalog_Model_Product_Status</product_status>-->
                <!--</rewrite>-->
            <!--</catalog>-->
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <eca_catalog>
                    <file>eca_catalog.xml</file>
                </eca_catalog>
            </updates>
        </layout>
    </frontend>
</config>