.product-view .product-shop .product-name .h1{
    color: orange;
    text-blink: true;
}
.header{
    width:100%;
    text-align: center;
}
header a{
    display: inline-block;
}
.logo-dragees{
    width: 900px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    display: block;
}