<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <ECA_Message>
            <version>0.1.0</version>
        </ECA_Message>
    </modules>
    <global>
        <blocks>
            <eca_message>
                <class>ECA_Message_Block</class>
            </eca_message>
        </blocks>
        <helpers>
            <eca_message>
                <class>ECA_Message_Helper</class>
            </eca_message>
        </helpers>
        <models>
            <eca_message>
                <class>ECA_Message_Model</class>
                <resourceModel>eca_message_resource</resourceModel>
            </eca_message>
            <eca_message_resource>
                <class>ECA_Message_Model_Resource</class>
                <entities>
                    <message>
                        <table>eca_message</table>
                    </message>
                </entities>
            </eca_message_resource>
        </models>
        <resources>
            <eca_message_setup>
                <setup>
                    <module>ECA_Message</module>
                </setup>
            </eca_message_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <eca_message>
                    <file>eca_message.xml</file>
                </eca_message>
            </updates>
        </layout>
        <translate>
            <modules>
                <ECA_Message>
                    <files>
                        <default>ECA_Message.csv</default>
                    </files>
                </ECA_Message>
            </modules>
        </translate>
        <routers>
            <eca_message>
                <use>standard</use>
                <args>
                    <module>ECA_Message</module>
                    <frontName>eca_message</frontName>
                </args>
            </eca_message>
        </routers>
    </frontend>
</config>